language: node_js
node_js:
  - "12"
cache:
  yarn: true
before_install:
  # Setup yarn
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.19.2
  - export PATH=$HOME/.yarn/bin:$PATH
script: echo "no tests here"
deploy:
  provider: script
  skip_cleanup: true
  script: bash deploy.sh
  on:
    branch: master
