language: node_js
node_js:
  - "12"
cache:
  yarn: true
before_install:
  # Setup yarn
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.19.2
  - export PATH=$HOME/.yarn/bin:$PATH
deploy:
  provider: script
  script: bash deploy.sh
  on:
    branch: master
